// Here you can add other styles
.toast-error{
    background-color: #bd362f!important;
}
.toast-info {
    background-color: #2f96b4 !important;
}
.toast-warning {
    background-color: #f89406 !important;
}
.toast-success {
    background-color: #51a351 !important;
}
.cus-sidebar{
    background: linear-gradient(90deg, #252968 17.53%, #080F53 87.77%);
}