// Here you can add other styles
.toast-error{
    background-color: #bd362f!important;
}
.toast-info {
    background-color: #2f96b4 !important;
}
.toast-warning {
    background-color: #f89406 !important;
}
.toast-success {
    background-color: #51a351 !important;
}
.cus-sidebar{
    background: linear-gradient(90deg, #252968 17.53%, #080F53 87.77%);
}
.btn-primary{
    background: linear-gradient(90deg, #252968 17.53%, #080F53 87.77%);
    border-radius: 7px;
    height: 50px;
    text-align:center;
    vertical-align: middle;
}

.jo-login{
    background:  linear-gradient(90deg, rgba(173,176, 249, 0.3) -1.58%, rgba(255, 255, 255, 0.180612) 94.77%, rgba(255, 255, 255, 0.0001) 105.88%);
  
    .form-control{
      background: #FFFFFF;
      border: 1px solid #DFDFDF;
      box-sizing: border-box;
      box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.05);
      border-radius: 7px;
      height: 50px;
    }
  
    
    .jo-trans{
      background: transparent;
      margin-top: 40px;
    }
  }

  .sidebar .nav-link.active {
    background: #F6F6F6;
    border-radius: 0px 50px 50px 0px;
    width: 90%;
    color: #252968
  }
  .jo-input-dark{
      @extend .form-control;
      background: #F3F3F3 !important;
      border: 1px solid #F3F3F3;
      box-sizing: border-box;
      border-radius: 7px;
      height: 50px;

  }
  .jo-form{
    width:100%;
    display:flex;
    border-bottom: 1px solid #818F90;
    padding-bottom: 40px;

    &-label{
        width: 30%;
        font-weight:bold;
    }
    &-group{
        width:60%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        grid-gap: 1.5rem;

        div{
            display:flex;
            flex-direction: column;
            label{
                font-size:14px;
                color:#818F90;

            }
            
        }
    }

}

.jo-btn-group{
    display: flex;
    justify-content: space-evenly;

    button{
        margin:auto 5px;
        padding:0.3rem 1.3rem;
    }
}
.jo-active{
    color:#21BE1E;
}
.jo-disabled{
    color:#FC4D22;
}
.jo-blue{
    color:#fff !important;
    background:linear-gradient(90deg, #252968 17.53%, #080F53 87.77%)
}
.jo-flow{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.sm-img-avatar{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.jo-notification-dropdown{
    width: 375px;

    a.dropdown-item{
        padding: 13px 20px;
    }
}

.jo-flex{
    display:flex;
    justify-content: space-between;
}